# AWS API Gateway
API_URL=https://YOUR_API_ID.execute-api.us-east-1.amazonaws.com/prod/ingest

# Device settings
DEVICE_ID=pi-001
LOCATION= your-location

# Alerts (ntfy.sh)
NTFY_TOPIC=your-unique-topic-name

# Database (for Lambda - set in AWS console, not here)
# DATABASE_URL=postgresql://user:pass@host.neon.tech/neondb?sslmode=require
